@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// Police 
body{
  font-family: 'Barlow', Arial, sans-serif;
}

//Couleurs
$primary-color: #F4D35B;
$secondary-color: #F6E6AB;
$card-color: #f4e8b2;
$light-color: #FDF9E8;
$dark-color: #0D3765;
$danger-color: #F95535;


// Page elle meme
html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $light-color;
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
}




// Classes communes:
.t5l-btn-blue {
    border: 3px solid #F4D35B;
    color: #F4D35B;
    background-color: #0D3765;
    font-weight: 700;
    border-radius: 8px;
    padding: 0.35rem 1rem;

    &:hover {
        background-color: #0D3765;
        color: #F95535;
        border: solid 3px #F95535;
    }
}

.t5l-btn-orange {
background: #F95535;
color: #FAEFC6;
font-weight: 700;
border-radius: 8px;
padding: 0.35rem 1rem;
border: solid 3px #f4e8b2;

    &:hover {
        border: solid 3px #0D3765;
        color: #0D3765;
        background: #F95535;

    }
}





// Header
.t5l-header {
  background-color: #0D3765;
  border-bottom: 3px solid #F95535;
  padding: 30px, 0px, 30px, 0px;

    .navbar {
        padding: 0;
      
        .navbar-toggler-icon{
          background-color: $light-color;
          border: 2px solid $danger-color;
          
        }

        .navbar-collapse{

            .nav-link {
                color: #FAEFC6;
                font-weight: 500;
                padding: 0.75rem 0.8rem;
                transition: 0.2s ease;


            &:focus {
                text-decoration: underline;
                text-decoration-thickness: 2px;
                text-underline-offset: 6px;
                text-decoration-color: #F4D35B;
                color: #F4D35B;
                font-weight: bold;
            }
            }

            .nav-link:hover {
                color: #F4D35B;
                font-weight: bold;
            }
        }

        .header-text{
          color: $danger-color;
          font-weight: bold;
        }
    }
}
// Header-left
.logo {
    max-width: 250px;
    max-height: 100px;
  }







// Footer
footer{
    background-color: #0D3765;
    border-top: solid 3px #F4D35B;
    
    .link-footer{
        text-decoration: none;
        color: #F4D35B;

      &:hover{
        color:$primary-color;
        font-weight: bold;
      }
    }
}


/* Modale */
.modal-dialog{
  border : solid 3px #0D3765;
  border-radius: 8px;

    .modal-content{
    background-color: #FDF9E8;
    color: #0D3765;

        .modal-header{
            background-color: #F4D35B;
            border-bottom: solid 3px #0D3765;
        }

        .modal-body{
            i{
                color: #0D3765;
            }

            i:hover{
                color: #f95535;
            }
        }

        .modal-footer{
            background-color: #F4D35B;
            border-top: solid 3px #0D3765;

            .btn-close-modal{
                color:#F4D35B;
                background-color: #0D3765;
            }
        }
    }
}





/* Card */
// PLAYER CARD
.card-player{
  border: solid 3px #F95535;
  background-color: #0D3765;
  color: #FAEFC6;
  width: 250px;
  border-radius: 8px;
  .card-img-top{
    border: solid 3px $danger-color;
  }
  .card-title{
    color: $primary-color;
    font-weight: bolder;
    min-height: 40px;
  }
  .card-body{
    font-weight: bold;
  }

}






// Page d'accueil

.title-part{
  color:#0D3765;
  position: relative;
  display: inline-block;
  font-weight:600;
}

.title-part::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 3px;             
    background: #F95535;      
    border-radius: 4px; 
}

/* Section Rules */
.rules-section{
    .rules-step{
    background-color: #f4e8b2;
    border-radius: 8px;
    color: #0D3765;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); 

        .rules-step-title{
            color: #F95535;
            font-weight: bold;
        }

        .text-rules{
            font-weight:500;
            text-align: justify;

            .important{
                color: #F95535;
                font-weight: 500;
            }
        }
    }  
}








/* SECTION CHALLENGE */

.challenge-section {
  width: 100%;
  background-color: #f4e8b2;
}


/* Bloc gauche */
.participation{
  background-color: #FBF7E6;
  border-radius: 8px;
}

.current-challenge{
  background-color: #FBF7E6;
  border-radius: 8px;
}

/* Bloc droit */
.challenge-right {
  background-color: #0d3765;
  border-radius: 12px;
  color: #ffffff;
}


.winner-title {
  color: #f4d35b;
  font-weight: 600;
}

/* Textes */
.challenge-text{
  font-weight:500;
  text-align: justify;
  color: #0D3765;
  font-size: 1rem;
}

.winner-text {
  font-size: 1rem;
  color: #f4d35b;
}

.highlight {
  color: #f95535;
  font-weight: 600;
}


/* Infos challenge */
.challenge-infos {
  background-color: #faefc6;
  border-radius: 6px;
  font-size: 1.2rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); 
  color: #0D3765;
}


.status {
  color: #f95535;
  font-weight: 600;
}

/* Trophée */
.trophy {
  font-size: 2.5rem;
}

/* Liste gagnant */
.winner-players {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.winner-players span {
  background-color: #ffffff;
  color: #0d3765;
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.85rem;
}


// Formulaire modification et creation joueur

/* Titre page */
.page-title {
  color: $dark-color;
  font-weight: 800;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

/* Soulignement orange du titre */
.page-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 3px;
  background-color: $danger-color;
  border-radius: 4px;
}

/* Carte du formulaire */
.player-card {
  max-width: 400px;
  background: $card-color; /* beige plus foncé comme la maquette */
  border: 3px solid $dark-color;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

    /* Inputs et select avec style un peu plus marqué */
    .top5-input {
      border: 2px solid rgba(13, 55, 101, 0.4);
      border-radius: 6px;
      padding: 10px 12px;
      background-color: #fbf7e6;
    }

    .top5-input:focus {
      border-color: #0d3765;
      box-shadow: 0 0 0 0.25rem rgba(13, 55, 101, 0.15);
    }

    .top5-select {
      border: 2px solid rgba(13, 55, 101, 0.4);
      border-radius: 6px;
      padding: 10px 12px;
      background-color: #fbf7e6;
    }

    .top5-select:focus {
      border-color: #0d3765;
      box-shadow: 0 0 0 0.25rem rgba(13, 55, 101, 0.15);
    }
}




// Page connexion/inscription
.access-card {
  max-width: 400px;
  background: $card-color;
  border: 3px solid $dark-color;
  border-radius: 10px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);

  // Titre 
  .access-card-title {
    color: $dark-color;
    font-weight: 800;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
  }

  // Soulignement titre
  .access-card-title::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
    width: 100%;
    height: 3px;
    background-color: $danger-color;
    border-radius: 4px;
  }
  .access-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label{
      text-align: left;
      width: 100%;
      color: $dark-color;
      margin-bottom: 5px;
      font-weight: bold;
    }

    /* Inputs et select avec style un peu plus marqué */
    .top5-input {
      border: 2px solid rgba(13, 55, 101, 0.4);
      border-radius: 6px;
      padding: 10px 12px;
      background-color: #fbf7e6;
    }

    .top5-input:focus {
      border-color: #0d3765;
      box-shadow: 0 0 0 0.25rem rgba(13, 55, 101, 0.15);
    }

    .top5-select {
      border: 2px solid rgba(13, 55, 101, 0.4);
      border-radius: 6px;
      padding: 10px 12px;
      background-color: #fbf7e6;
    }

    .top5-select:focus {
      border-color: #0d3765;
      box-shadow: 0 0 0 0.25rem rgba(13, 55, 101, 0.15);
    }
  }

  .redirection{
    font-size: smaller;
    
    a{
      text-decoration: none;
      color: $danger-color;
      font-weight: 600;

      &:hover {
      text-decoration: underline;
      }
    }
  }
}

// Top 5 
.home-top5{
  /* Titre page */
  .title-top5 {
    color: $dark-color;
    font-weight: 800;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
  }

  /* Soulignement orange du titre */
  .title-top5::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 3px;
    background-color: $danger-color;
    border-radius: 4px;
  }
  .home-top5-text{
    color: $dark-color;
    font-weight: 600;
  }
}

// Liste des utilisateurs
.users-table {
  border: 2px solid $dark-color;
  overflow: hidden;

  // Titre des colonnes
  thead {
    th {
      color: $primary-color;
      font-weight: 700;
      font-size: 1.2rem;
      padding: 12px;
      border: 2px solid $dark-color;
      background-color: $dark-color
    }
  }

  // Contenu du tableau
  tbody {

    tr {
      border: 2px solid $dark-color;
    }

    td {
      border: 2px solid $dark-color;
      font-weight: 600;
      padding: 10px;
      font-size: 1rem;
      color: $dark-color;
    }
  }
}

// Forcage stripped bootstrap
.users-table.table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: $primary-color !important;
}

.users-table.table-striped > tbody > tr:nth-of-type(even) > * {
  background-color: $light-color !important;
}


// Accueil Admin
  // Section bienvenu
  .welcome-section {
    .welcome {

      .welcome-text {
        display: inline-block;
        position: relative;
        color: $dark-color;
        font-size: larger;
        font-weight: 600;

        &::after {
          content: "";
          position: absolute;
          bottom: -40px;
          width: 70%;
          height: 3px;
          background-color: $danger-color;
          border-radius: 4px;
        }
      }
    }
  }

  // Section Challenge
  .challenge-admin{
    .challenge-infos-admin{
      background-color: $light-color;
      border-radius: 6px;
      font-size: 1.2rem;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); 
      color: #0D3765;
      }
  }

  // Pages création et modification Lineup
.form-lineup-card{
  color: $dark-color;
  background-color: $secondary-color;
  border: solid 3px $dark-color;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  
  .lineup-form{
    // Titre 
    .form-title-part {
      color: $dark-color;
      font-weight: 800;
      text-align: center;
      display: block; 
      position: relative;
      padding-bottom: 10px;
    }

    .form-title-part::after {
      content: "";
      position: absolute;
      left: 50%;                 
      transform: translateX(-50%); 
      bottom: 0;
      width: 130px;            
      height: 3px;
      background-color: $danger-color;
      border-radius: 4px;
    }


    .form-control {
      border: 3px solid $dark-color;
      border-radius: 0px;
      background-color: #fbf7e6;
    }
    .form-control:focus {
      border-color: #0d3765;
      box-shadow: 0 0 0 0.25rem rgba(13, 55, 101, 0.14);
    }
  }
}

  // Challenge Management
    // Current Challenge
    .current-challenge{
      .challenge-card {
        border: 2px solid #0d3b66;
        background-color: #f5e6a7;
        } 
    }

.current-challenge th {
    background-color: #e0c45c;
}

.current-challenge .btn {
    border-radius: 6px;
}

// Page Joueurs du mois
.top-position{
  .players-position{
    background-color: $secondary-color;
  }
}